.item {
	height: 30px;
	width: 100%;
	display: flex;
	padding: 0px 0px 0px 40px;
	cursor: pointer;
	align-items: center;
}
.item:hover {
	background-color: #fec6ff;
}

.image {
	height: 80%;
	width: 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.image > img {
	height: 100%;
	width: 100%;
}

.text {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	/* font-family: 'Poppins', sans-serif; */
	color: #bd18c0;
}

.bold_text {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	color: #bd18c0;
	font-weight: bolder;
}
